
.full-screen-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%) scale(1.2);
    filter: blur(10px);
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease; /* Faster transition */
}

.full-screen-transition.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
    pointer-events: all;
}

.full-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    color: var(--primary-color);
}

.lock-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fully transparent background */
    z-index: 500; /* Lower z-index to be behind the hero text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

@media (max-width: 768px) {
    .hero-text {
        font-size: 3em; /* Adjust font size for smaller screens */
    }

    .full-screen {
        padding: 1em;
    }
}

    .compass-icon {
        top: calc(50% + 1.5in); /* Adjust the top position to move the icon higher */
    }